body { padding-top: 70px; }
#generatedCode { margin-top: 50px;  padding-top: 50px; border-top: 1px solid #eee; }
.codetxt div { /*display: none;*/ }
.codetxt:first-child { background-color: #f0f; }
.bs-sidebar { word-break: break-all; }