<br style="font-size:5px;" /><div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div><script language="javascript" type="text/javascript">
var bb_w={WIDTH};
var bb_h={HEIGHT};
var bb_bgc="#ffffff";
var bb_src="{FILE}";
var bb_msrc="";
var bb_link="http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
var bb_mode="opaque";
var bb_base="http://adv.wp.pl/RM/Box/";
var bb_click="click";
var bb_vars="";
</script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2008-02/_wb/bills4.js"></script>