<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div>
<script type="text/javascript">

        var topd=new Array();
        topd["swf"] = "{FILE}{IMG}";
        topd["click"] = "click";
        topd["url"]= "http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
        topd["width"] = {WIDTH};
        topd["height"] = {HEIGHT};
        topd["bgcolor"] = "#ffffff";
        topd["flashvars"] = "";
        topd["base"] = "";


function ukryjReklame(){
 document.getElementById('fpeCnt').style.display="none";
}


</script>
<script type="text/javascript" src="http://adv.wp.pl/RM/Box/2012-06/_wb/szablony/bottoml.js"></script>

