<br style="font-size:5px;" /><div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div>
<script language="javascript" type="text/javascript">


PWAmsky=new Array();
PWAmsky["src"]="{FILE}";
PWAmsky["msrc"]="";
PWAmsky["url"]="http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
PWAmsky["width"]={WIDTH};
PWAmsky["height"]={HEIGHT};
PWAmsky["click"]="click";
PWAmsky["flashvars"]="";
PWAmsky["base"]="";
PWAmsky["bgcolor"]="#ffffff";
PWAmsky["wmode"]="opaque";
PWAmsky["display"]=true;

</script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2011-05/_wb/szablony/default.js"></script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2010-04/_wb/inne/megasky.js"></script>
