<br style="font-size:5px;" /><div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div><script language="javascript" type="text/javascript">
var mbx_w={WIDTH};
var mbx_h={HEIGHT};
var mbx_bgc ="#ffffff";
var mbx_src="{FILE}";
var mbx_msrc="http://adv.wp.pl/RM/Box/GIF";
var mbx_link ="http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
var mbx_wmode="opaque";
var mbx_base="";
var mbx_click="click";
var mbx_vars="";
</script><script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2009-02/_wb/mbx.js"></script>