<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div>
<script language="javascript" type="text/javascript">
var bx_w={WIDTH};
var bx_h={HEIGHT};
var bx_bgc ="#ffffff";
var bx_src="{FILE}";
var bx_msrc="";
var bx_link ="http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
var bx_wmode="opaque";
</script><script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2008-09/_wb/box2.js"></script>