<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div>
<script language="javascript" type="text/javascript">


PWAbill=new Array();
PWAbill["src"]="{FILE}";
PWAbill["msrc"]="{IMG}";
PWAbill["url"]="http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
PWAbill["width"]={WIDTH};
PWAbill["height"]={HEIGHT};
PWAbill["click"]="click";
PWAbill["flashvars"]="";
PWAbill["base"]="";
PWAbill["bgcolor"]="#ffffff";
PWAbill["wmode"]="opaque";
PWAbill["zindex"]=1007;
PWAbill["xoffset"]=65;
PWAbill["x"]=true;
PWAbill["display"]=true;

function scbill_onstart(){


}

function scbill_onstop(){


}




</script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2011-05/_wb/szablony/default.js"></script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2011-02/_wb/szablony/scrollbill3.js"></script><!--tpl-->
