<br style="font-size:5px;" /><div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div>
<script language="javascript" type="text/javascript">


PWAsrd=new Array();
PWAsrd["src"]="{FILE}";
PWAsrd["msrc"]="";
PWAsrd["url"]="http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
PWAsrd["width"]={WIDTH};
PWAsrd["height"]={HEIGHT};
PWAsrd["click"]="click";
PWAsrd["flashvars"]="";
PWAsrd["base"]="";
PWAsrd["bgcolor"]="#ffffff";
PWAsrd["wmode"]="opaque";
PWAsrd["display"]=true;

</script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2011-06/_wb/szablony/default.js"></script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2011-06/_wb/szablony/srodtekst.js"></script>