<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!011--></div>
<script language="javascript" type="text/javascript">

var zak_l_gif="{FILE}";
var zak_l_url="{URL}";

zak_l_url="%%SERVER%%/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_="+zak_l_url;
var cegla=document.getElementById("bxEcommerceLewy");

if (cegla) cegla.innerHTML='<a href="'+zak_l_url+'" target="_blank"><img src="'+zak_l_gif+'" alt=""/></a>';

</script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2012-02/_wb/win7ie9.js"></script>
