<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!019--></div>
<script language="javascript" type="text/javascript">

var zak_txt_gif="GIF";
var zak_txt_txt="TXT";
var zak_txt_url="URL";

zak_txt_url="%%SERVER%%/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_="+zak_txt_url;
var ceg1=document.getElementById("bxEcommerceTxtLogo");
var ceg2=document.getElementById("bxEcommerceTxt");

if (ceg1 && ceg2){
 ceg1.style.backgroundImage="url('"+zak_txt_gif+"')";
 ceg2.href=zak_txt_url;
 ceg2.innerHTML='<strong>'+zak_txt_txt+'</strong>';
}
</script>

