<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!004--></div>
<script language="javascript" type="text/javascript">
 
var zak_gif="{FILE}";
var zak_url="{URL}";
 
zak_url="%%SERVER%%/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_="+zak_url;
document.getElementById("bxEcommerceMinibillDol").getElementsByTagName("img")[0].src=zak_gif;
document.getElementById("bxEcommerceMinibillDol").getElementsByTagName("a")[0].href=zak_url;
 
 
</script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2012-02/_wb/win7ie9.js"></script>