<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!018--></div>
<script language="javascript" type="text/javascript">

var zak_gif="{FILE}";
var zak_url="{URL}";

zak_url="%%SERVER%%/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_="+zak_url;
var cegla=document.getElementById("bxEcommerceMinibill");

if (cegla) cegla.innerHTML='<a href="'+zak_url+'" target="_blank"><img src="'+zak_gif+'" alt=""/></a>';

</script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2012-02/_wb/win7ie9.js"></script>