<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div>
<script language="javascript" type="text/javascript">

//konfiguracja standardowa
PWAtop=new Array();
PWAtop["src"]="{FILE}";
PWAtop["msrc"]="{IMG}";
PWAtop["url"]="http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
PWAtop["width"]={WIDTH};
PWAtop["height"]={HEIGHT};
PWAtop["left"]=400;
PWAtop["top"]=200;
PWAtop["click"]="click";
PWAtop["flashvars"]="";
PWAtop["base"]="";
PWAtop["bgcolor"]="#ffffff";
PWAtop["wmode"]="transparent";
PWAtop["zindex"]=1009;

//dodatkowe opcje
PWAtop["poziom"]=true;
PWAtop["pion"]=true;
PWAtop["fullscreen"]=false;
PWAtop["ffpatch"]=false;
PWAtop["x"]=false;
PWAtop["xoffset"]=0;
PWAtop["scroll"]=false;
PWAtop["drag"]=false;
PWAtop["mheight"]=20;
PWAtop["noclose"]=false;
PWAtop["mgielka"]=false;
PWA_hidescroll=true;

 function tl_poz(){
     var komunikat=document.getElementById("WP-cookie-info"); 
     if ((komunikat!=null)&&(komunikat.style.display="block")) top_div.style.top=PWAtop["top"]+50+"px"; else top_div.style.top=PWAtop["top"]+"px"; 
 }

//funkcje
function tl_prestart(){
}


function tl_onstart(){
 if (document.getElementById("WP-cookie-info")) setInterval("tl_poz()",200);
}

function tl_onstop(){
}

function tl_onmin(){
}

function tl_onmax(){
}


</script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2012-12/szablony/default.js"></script>
<script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2012-12/szablony/toplayer.js"></script><!--tpl-->