<div style="display:none"><img alt="" width="1" height="1" border="0" src="%%SERVER%%/RM/ads/adstream_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_EMPTY_" /><!--!+!+!{ADVID}--></div>
<script language="javascript" type="text/javascript">
var bxsg_w={WIDTH};
var bxsg_h={HEIGHT};
var bxsg_bgc ="#ffffff";
var bxsg_src="{FILE}";
var bxsg_msrc="";
var bxsg_link ="http://adv.wp.pl/RM/click_lx.ads/%%PAGE%%/%%RAND%%/%%POS%%/%%CAMP%%/%%IMAGE%%/%%USER%%?_RM_REDIR_={URL}";
var bxsg_wmode="opaque";
var bxsg_click="click";
var bxsg_base="";
var bxsg_vars="";
var br05=1;
</script><script language="javascript" type="text/javascript" src="http://adv.wp.pl/RM/Box/2009-03/_wb/szablony/boxsg.js"></script>